.box {
  max-width: 520px;
  margin: 20px auto;
  padding-bottom: 10px;
  border-radius: 16px;
  border: 2px solid #e5e7eb;
  background-color: #ffffff;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  border: 3px solid #000000;
}

.box img {
  width: 100%;
  max-width: 100%;
  height: auto;
  border-radius: 14px;
  object-fit: cover;
}

span {
  display: inline-block;
  margin-top: 14px;
  padding: 10px 18px;
  font-size: 22px;
  font-weight: 600;
  border-radius: 999px;
  letter-spacing: 0.5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-right: 10px;
}
.des {
  margin-left: 30px;
}
h1 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
